.header-logo{
    display: flex;
}
  
.header-logo-name{
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}